@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #ffffff;
}
body{
  background: #040201;
}
.loop{
  fill: rgba(255, 255, 255, 0.67);

opacity: 0.3;
filter: blur(600px);
}


